.container {
    padding: 8px;
    color: white;
}

.header {
    font-size: 1.3rem;
    padding-bottom: 10px;
}
.listItem {
    display: flex;
    margin: 10px;
    position: relative;
    font-size: 1.2rem;

}

.name {
    width: 150px;
    font-size: 1.2rem;

}

.index {
    width: 100px;
    color: var(--exchange-green);
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--exchange-green);
    position: absolute;
    left: -22px;
    top: 4px;
}
.list span.bold {
  margin-right: 10px;
  font-weight: bold;
  
}
.data{
  color: var(--exchange-green);
  font-style: none;

}
.bold{
}