* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1; /* To ensure the header appears above other elements */
}
.sticky {
position: sticky;
top: 0;
z-index: 999;
}

.container{
font-family: 'Questrial';
width: 100%;
padding: 20px;
font-size: 1.2rem;
display: flex;
align-items: center;
justify-content: space-between;
background-color:black;
}

/* ------------Logo -----------------*/

.logoContainer{
display: flex;
align-items: center;
color: white;
margin-left: 0px;
width: 140px;
}

.logo{
margin-left: 20px;
display: flex;
align-items: center;
width: 35px;
}
.logo :hover{
color: var( --exchange-green);
}

/*----------------- Menu -----------------*/
.menuContainer {
display: flex;
align-items: center;
color:white;
margin: 0 auto;
}

.menu {
list-style-type: none;
display: flex;
}

.menuItem {
padding: 0 10px;  
text-align: center;
cursor: pointer;
color: white;
font-size: 1.2rem;
text-decoration: none;
}
a:-webkit-any-link {
color: white;
cursor: pointer;
text-decoration: none;
}
a:-webkit-any-link:hover{
color: var( --exchange-green);
}

/* -----------------SearchBar -----------------*/
.searchContainer {
height: 30px;
display: flex; 
position: relative;
width: 300px;
}

input[type="text"]{
margin-right: 10px;
width: 60px;
transition: width 2s ease-in-out;
box-shadow: 0 0 0 .01rem white;
border-radius: 50px;
}

input[type="text"]:focus {
width: 100%;
background-color: rgb(168, 168, 168);
}

.searchContainer > input{
background-color: rgb(168, 168, 168);
border-color: white;
border: 2px solid white;
color: black;
font-family: sans-serif;
font-size: 14px;
font-weight: 500;
letter-spacing: 1px;
padding-left: 33px;   
-webkit-font-smoothing: antialiased;
}

.searchContainer > input:focus {
outline: none;
} 

.SearchIcon{
position: absolute;
left: 10px;
bottom: 2px;
font-size: 1.5rem;
display: grid;
color: white;
}

/* -----------------User----------------- */
.userContainer{
display: flex;
align-items: center;
justify-content: flex-end;
color: white;
margin-right: 50px;
cursor: pointer;
}
.user{
width: 30.5px;
height: 30.5px;
border-radius: 60%;
margin-right: 8px;
color: black;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
}
.user:hover {
background-color: var( --exchange-green);
}

@media only screen and (max-width: 800px) {
.menuContainer {
display: none;
}

.menuIcon {
display: block;
cursor: pointer;
margin-right: 20px;
color: white;
}

.menuIcon > svg {
font-size: 2.5rem;
color: black;
background-color: black;  }
}  



