body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Questrial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --gradient-top: #38a8c3;
  --gradient-bottom: #2a7fa0;
  --site-width:1024px;
  --exchange-green: #40d939;
  --primary-color: #00ff00;
  --header-gradient-top: #111;
  --header-gradient-bottom: #222;
 
}